<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor='let data of isiData | async'>
    <ion-card color='warning' (click)='detail(data.judul,data.isi,data.tanggal,data.nilai,data.gambar)'>
      <ion-card-header >        
        <IonCardTitle>{{data.tanggal}}</IonCardTitle>
        
      </ion-card-header>
    
      <ion-card-content>

        <ion-item color='warning'>
          <ion-label>Judul</ion-label>
          {{data.judul}}  
        </ion-item>     

        <ion-item color='warning'>
          <ion-label>Nilai</ion-label>
          {{data.nilai}}
        </ion-item>     
        <ion-button color='danger' expand='block' (click)=delete(data.judul)>Delete</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
